.bg-spec {
  background: rgb(230,230,230);
  background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(185,185,185,1) 50%, rgba(230,230,230,1) 100%);
  min-height: 45vh;
}

.bg-spec-2 {
  background: rgb(230,230,230);
  background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 40%, rgba(248,249,250,1) 60%, rgba(248,249,250,1) 100%);
  height: 10vh;
}

.bg-spec-3 {
  background: rgb(248,249,250);
  background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 43%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 100%);
  height: 10vh;
}

.spec-card {
  background-color: rgba(212, 172, 120, 0.75);
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(19, 19, 19, 0.8);
}

.spec-card-2 {
  background-color: #c9c9c9;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(19, 19, 19, 0.8);
}

.profile_pic {
  border-radius: 0.8rem;
  box-shadow: 1px 0.5px 3px #131313;
  object-fit: cover;
  object-position: center;
  max-height: 50vh;
}

.spec-image {
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: center;
}

.font-name {
  font-family: 'Permanent Marker', cursive;
}

.font-accent {
  font-family: 'Playball', cursive;
}

.font-info {
  font-family: 'Nunito', sans-serif;
}

.fs-spec {
  font-size: xx-large;
}

.bricks {
  columns: 3;
}

.brick {
  page-break-inside: avoid;
}

.selectable:hover {
  background-color: #9b989834;
}

.bricks-2 {
  columns: 2;
}

.spec-height {
  min-height: 100vh;
}

.spec-img {
  max-height: 15rem;
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: center;
}

@media screen AND (max-width: 960px) {
  .bricks {
    columns: 1 !important;
  }
  
    .bricks-2 {
      columns: 1 !important;
    }
}

@media screen AND (max-width: 1200px) AND (min-width: 961px) {
  .bricks {
    columns: 2;
  }
}
