.bg-spec {
  background: url("https://images.unsplash.com/photo-1532210317995-cc56d90177d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center; 
  min-height: 45vh;
}

.spec-card {
  background-color: rgba(212, 172, 120, 0.75);
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(19, 19, 19, 0.8);
}

.spec-card-2 {
  background-color: #c9c9c9;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(19, 19, 19, 0.8);
}

.profile_pic {
  border-radius: 0.8rem;
  box-shadow: 1px 0.5px 3px #131313;
  object-fit: cover;
  object-position: center;
  max-height: 50vh;
}

.font-name {
  font-family: 'Permanent Marker', cursive;
}

.font-accent {
  font-family: 'Playball', cursive;
}

.font-info {
  font-family: 'Nunito', sans-serif;
}

.fs-spec {
  font-size: xx-large;
}

.bricks {
  columns: 3;
}

@media screen AND (max-width: 960px) {
  .bricks {
    columns: 1 !important;
  }
}

@media screen AND (max-width: 1200px) AND (min-width: 961px) {
  .bricks {
    columns: 2;
  }
}

.brick {
  page-break-inside: avoid;
}

.selectable:hover {
  background-color: #9b989834;
}